<!DOCTYPE html>
<html lang="tj">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ lesson.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-brand">
            <h2>Figma / Python Course</h2>
        </div>
        <div class="nav-links">
            <a href="{{ url_for('dashboard') }}" class="nav-btn-back">← Dashboard</a>
        </div>
    </nav>

    <main class="lesson-page">
        <div class="lesson-box">
            <div class="lesson-media">
                <img src="{{ url_for('static', filename='xeb.jpg') }}" alt="Дарс" class="lesson-img">
            </div>
            
            <div class="lesson-content">
                <h1>{{ lesson.title }}</h1>
                <hr class="divider">
                <div class="lesson-text">
                    <p>{{ lesson.content }}</p>
                </div>
                
                <div class="lesson-footer">
                    <a href="{{ url_for('dashboard') }}" class="btn-back-main">← Бозгашт ба дарсҳо</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>