<!DOCTYPE html>
<html lang="tg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Figma Course - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="">
</head>
<body class="auth-page">
    <div class="auth-container">
        <h1>Welcome Back</h1>
        <p>Ба аккаунти худ дароед</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>

        <p style="margin-top: 15px;">Аккаунт надоред? <a href="/register">Registration</a></p>
    </div>
</body>
</html>