<!DOCTYPE html>
<html lang="tj">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сабти ном</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h2>Рӯйхатгирӣ</h2>
        <p class="subtitle">Ҳисоби нав эҷод кунед</p>
        
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div style="color: #e52e71; margin-bottom: 15px; font-size: 14px; font-weight: bold;">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form action="/register" method="POST">
            <div class="input-group">
                <input type="text" name="username" required placeholder=" " autocomplete="off">
                <label>Username (Номи корбар)</label>
            </div>
            <div class="input-group">
                <input type="password" name="password" required placeholder=" ">
                <label>Password</label>
            </div>
            <button type="submit" class="btn">Рӯйхатгирӣ</button>
        </form>

        <p class="footer-text">
            Аккаунт доред? <a href="{{ url_for('login') }}">Login</a>
        </p>
    </div>
</body>
</html>